@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./openSans/open-sans-v17-latin_cyrillic-regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		 url('./openSans/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
		 url('./openSans/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'),
		 url('./openSans/open-sans-v17-latin_cyrillic-regular.woff') format('woff'),
		 url('./openSans/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'),
		 url('./openSans/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('./openSans/open-sans-v17-latin_cyrillic-700.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		 url('./openSans/open-sans-v17-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
		 url('./openSans/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'),
		 url('./openSans/open-sans-v17-latin_cyrillic-700.woff') format('woff'),
		 url('./openSans/open-sans-v17-latin_cyrillic-700.ttf') format('truetype'),
		 url('./openSans/open-sans-v17-latin_cyrillic-700.svg#OpenSans') format('svg');
}
