html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $black;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 20px;
}

.bordered {
	&_bottom {
		border-bottom: 1px solid $medium-gray;
	}
}

.hidden {
	visibility: hidden;
}
