.grid {
	width: 100%;

	&__row {
		display: flex;

		&_head {
			font-size: 13px;
			color: $deep-gray;
		}

		&_outlined {
			outline: 1px solid $medium-gray;
		}

		&_bordered {
			border: 1px solid $medium-gray;

			&_bottom {
				border-bottom: 1px solid $medium-gray;
			}
		}
	}

	&__col {
		padding: 10px 15px;
		box-sizing: border-box;
	}

	@include tablet {
		&__row {
			flex-wrap: wrap;
			justify-content: center;

			&_head {
				display: none;
			}
		}

		&__col {
			border-bottom-width: 0;
		}
	}

	@include phone {
		&__row {
			justify-content: flex-start;
		}
	}
}
