.notice {
	display: flex;
	align-items: center;
	padding: 30px 50px;
	background-color: $light-gray;

	&__mark {
		width: 15px;
		height: 15px;
		font-size: 10px;
		line-height: 15px;
		text-align: center;
		color: #fff;
		border-radius: 50%;
		background-color: $orange;
	}

	&__text {
		margin-left: 10px;
		font-size: 15px;
	}

	@include tablet {
		justify-content: center;
		align-items: flex-start;

		&__text {
			max-width: 300px;
		}
	}

	@include phone {
		padding-right: 10px;
		padding-left: 30px;

		&__text {
			max-width: 180px;
		}
	}
}
