.toggle-text {
	line-height: 20px;

	&__content {
		overflow: hidden;
		position: relative; 
		max-width: 370px;
		max-height: 80px; 
		text-align: justify;  
		padding-right: 1em;

		&:before {
			content: '...';
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			width: 1em;
			height: 1em;
			margin-top: 0.2em;
			background: white;
		}

		&_active {
			overflow: visible;
			max-height: none;
		}
	}

	&__controller {
		display: inline-block;
		padding-right: 5px;
		position: relative;
		font-size: 11px;
		color: $orange;
		cursor: pointer;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateY(calc(-25% + 1px));
			border: 5px solid transparent;
		}

		&:before {
			border-top-color: $orange;
		}

		&:after {
			border-top-color: #fff;
			margin-top: -2px;
		}

		&:hover {
			color: rgba($orange, .5);

			&:before {
				border-top-color: rgba($orange, .5);
			}
		}

		&_active {
			&:before,
			&:after {
				border-top-color: transparent;
				transform: translateY(calc(-75% + 1px));
			}

			&:before {
				border-bottom-color: $orange;
			}

			&:after {
				border-bottom-color: #fff;
				margin-top: 2px;
			}

			&:hover {
				&:before {
					border-top-color: transparent;
					border-bottom-color: rgba($orange, .5);
				}
			}
		}
	}
}
