.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	height: 50%;
	box-sizing: border-box;
	background-color: rgba($black, .5);
	display: none;

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 1px;
			height: 100%;
			background-color: $black;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background-color: rgba($black, .5);
			}
		}
	}

	&_active {
		display: block;
	}

	@include tablet {
		width: 320px;
		height: 320px;

		&__img {
			max-width: 80%;
		}
	}

	@include phone {
		width: 280px;
		height: 280px;
	}
}
